.sidebar {
    display: flex;
    justify-content: center;
    border-right: solid #fff 3px;
    height: 100%;

    ul {
        display: flex;
        flex-direction: column;
    }

    ul > li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
    }

    li:hover i,
    li:hover a {
        color: $main-color;
    }

    i {
        margin: 1rem;
    }
}
